/* =======================================
   Estilos para la sección Resume
   ======================================= */
   .resume-section {
    padding: var(--spacing-lg) 0;
    width: 100%;
    overflow-x: hidden;                /* Previene scroll horizontal */
    background-color: var(--color-white);
    padding-left: 30px;
  }
  
  .resume-section h3 {
    margin: 0 0 var(--spacing-md) 0;
    font-size: 1.8rem;
    color: var(--color-text-dark);
    text-align: center;
  }
  
  .cards-container {
    width: 90%;                        /* Contiene el ancho */
    max-width: 1200px;  
    margin: auto;               /* Limita el ancho máximo */
}
  
  /* Responsive */
  @media (max-width: 768px) {
    .cards-section {
      flex-direction: column;          /* Apila en dispositivos pequeños */
    }
    
    .cards-list {
      width: 100%;                     /* Ocupa todo el ancho */
    }
    
    .card-for-resume {
      width: 100%;                     /* Ocupa todo el ancho disponible */
    }
    
    .hero-tittle,
    .subtitle-hero,
    .terms {
      max-width: 90%;                  /* Más ancho en móviles */
    }
  }